# Compiled class file
*.class
/target/
/bin/*
/*.classpath
/*.project
/.settings
/*.springBeans
/.settings/*

/.classpath
*/.classpath
*/.factorypath
*/org.eclipse.jdt.apt.core.prefs
manager.systems/manager-systems-common/manager-systems-common-dao/.classpath

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*