<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="content">
		<div class="col-12">
			<div class="card">
	            <div class="card-body" style="padding: 5px;">
	                   <h4 class="p-20 text-center">Fechamento de Caixa</h4>    
	                <div class="col-md-12">
	                    <div style="float: right;">
	                        <a id="btnFilter" name="btnFilter" type="button" class="btn waves-effect waves-light btn-success m-t-10 dropdown-toggle" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="ti-filter" style="font-size: 14px;"></i></a>
	                        <a id="btnCloseCash" href="javascript:onclick:showModalCashierClosing();" name="btnCloseCash" type="button" class="btn waves-effect waves-light btn-outline-info m-t-10">Fechar Caixa</a>
	                        <a id="btnView" href="javascript: searchDocumentMovement();" name="btnView" type="button" class="btn waves-effect waves-light btn-outline-success m-t-10">Visualizar</a>
	                        <a id="btnPreview" href="javascript: showModalReportPdf();" name="btnPreview" type="button" class="btn waves-effect waves-light btn-outline-warning m-t-10"><i class="mdi mdi-bank" aria-hidden="true"></i>&nbsp;Preview Fechamento</a>
	                    </div>
	                </div>
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs" role="tablist" style="margin-top: 60px;">
	                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" id="tabReport" href="#report" role="tab"><span class="hidden-sm-up"><i class="fas fa-list"></i></span> <span class="hidden-xs-down">Relat&oacute;rio</span></a> </li>
	                </ul>
	                <!-- Tab panes -->
	                <div class="tab-content tabcontent-border">
	                    <div class="tab-pane active" id="report" role="tabpanel">
	                        <div class="row">
	                            <div class="col-12">
	                                <!-- Filter -->
	                                <div class="collapse" id="collapseFilter">
	                                <!-- Filter Form -->
	                                    <form id="formFilter" name="formFilter" th:action="@{/cashierClosing/cashier-closing/filter}" method="post" autocomplete="off">
	                                        <input type="hidden" id="objectType" name="objectType" th:value="${objectTypeAlias}"/>			
											<input type="hidden" id="mainCompanyId" name="mainCompanyId" th:value="${session.user?.mainCompanyId}" />
											<input type="hidden" id="mainCompanyDescription" name="mainCompanyDescription" th:value="${session.user?.mainCompanyDescription}" />
											<input type="hidden" id=mainCompanyBankAccountId name="mainCompanyBankAccountId" th:value="${session.user?.mainCompanyBankAccountId}" />
											<input type="hidden" id=mainCompanyBankAccountDescription name="mainCompanyBankAccountDescription" th:value="${session.user?.mainCompanyBankAccountDescription}" />	
											<input type="hidden" id="companysId" name="companysId"/>
	                                        <!-- Card -->
	                                        <div class="card">
	                                            <!-- Card Body -->
	                                            <div class="card-body">
	                                                <!-- Row Title Filter -->
	                                                <div class="row">
	                                                    <div class="col-12">
	                                                        <h4 class="card-title text-center font-weight-bold" style="margin-bottom: 20px;">Filtros de pesquisa</h4>
	                                                    </div>
	                                                </div>
	                                                <!--/ Row Title Filter -->
	                                                <!-- Row Fields Filter -->					
	                                                <div class="row">
	                                                	<div class="col-md-4 mb-3">
	                                                        <label for="filterData">Data</label>
	                                                        <div class="input-group">
	                                                            <input type="text" class="form-control timeseconds text-center" id="date" name="date" />
	                                                            <div class="input-group-append">
	                                                                <span class="input-group-text">
	                                                                    <span class="ti-calendar"></span>
	                                                                </span>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col-md-2 mb-3">
	                                                        <label for="documentNumber">N&uacute;mero de Documento</label>
                                                            <input type="text" class="form-control" id="documentNumber" name="documentNumber" maxlength="200" placeholder="N&uacute;mero de Documento" aria-describedby="inputGroupPrepend">
	                                                    </div>
	                                                    <div class="col-md-2 mb-3">
	                                                        <label for="filterData">Filtrar Data por</label>
	                                                        <select class="m-b-20 m-r-10 custom-select" id="filterDate" name="filterDate">
	                                                            <option value="1">Inclus&atilde;o</option>
	                                                            <option value="2">Pagamento</option>
	                                                            <option value="3" selected>Vencimento</option>
	                                                        </select>
	                                                    </div>
	                                                    <div class="col-md-4 mb-3">
	                                                        <label for="movementType">Tipo de Movimento</label>
	                                                        <select class="m-b-20 m-r-10 custom-select" id="movementTypeId" name="movementTypeId" multiple>
	                                                            <option value="CR" selected>Cr&eacute;dito</option>
	                                                            <option value="DE" selected>D&eacute;bito</option>
	                                                            <option value="BA">Baixados</option>
	                                                            <option value="AB" selected>Abertos</option>
	                                                            <option value="FE">Fechado</option>
	                                                        </select>
	                                                    </div>
	                                                    <div class="col-md-6 mb-3">
	                                                        <label for="companyId">Empresa</label>
	                                                        <select class="m-b-20 m-r-10 custom-select" id="companyId" name="companyId" multiple>	
																<option th:each="item : ${companies}" th:value="${item.key}" th:text="${item.value}"></option>
															</select>
		                                                </div>
	                                                    <div class="col-md-6 mb-3">
	                                                   		<div class="form-group" style="width: 300px; height: 13px;">
																<div
																	class="form-check custom-control custom-checkbox mr-sm-2">
																	<input type="checkbox"
																		class="custom-control-input form-check-input"
																		id="selectAllCompanys" name="selectAllCompanys" /> <label
																		class="custom-control-label form-check-label"
																		for="selectAllCompanys">Selecionar todos os usu&aacute;rios vinculados</label>
																</div>
															</div>
															<select class="m-b-20 m-r-10 custom-select" id="userChildrensParentCombobox"
																name="userChildrensParentCombobox" multiple="multiple">
																<option th:each="item : ${userChidrensParent}" th:value="${item.key}"
																	th:text="${item.value}"></option>
																<option th:value="${session.user?.id}" selected th:text="${session.user?.name}"></option>
																<!--<option value="">TODOS</option>-->
															</select>
														</div>
	                                                </div>													
	                                                <!--/ Row Fields Filtro -->
	                                            </div>
	                                            <!--/ Card Body -->
	                                        </div>
	                                        <!--/ Card -->
	                                    </form>
	                                    <!--/ Form Filter -->
	                                </div>
	                                <!--/ Filter -->    
	                            </div>
	                        </div>
	                        <div class="row">
	                            <!-- Column -->
	                            <div class="col-lg-3 col-md-3">
	                                <div class="card">
	                                    <div class="card-body">
	                                        <div class="d-flex flex-row">
	                                            <div class="round round-lg align-self-center round-primary">
	                                            	<i class="mdi mdi-plus" style="width: 30px; height: 30px; line-height: 0px;"></i>
	                                            </div>
	                                            <div class="m-l-10 align-self-center">
	                                                <h3 class="m-b-0 font-lgiht" id="totalMovement"></h3>
	                                                <h5 class="text-muted m-b-0">&nbsp;Total Movimentos</h5></div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- Column -->
	                            <!-- Column -->
	                            <div class="col-lg-3 col-md-3">
	                                <div class="card">
	                                    <div class="card-body">
	                                        <div class="d-flex flex-row">
	                                            <div class="round round-lg align-self-center round-warning">
	                                            	<i class="mdi mdi-plus" style="width: 30px; height: 30px; line-height: 0px;"></i>
	                                            </div>
	                                            <div class="m-l-10 align-self-center">
	                                                <h3 class="m-b-0 font-lgiht" id="totalPendingBefore"></h3>
	                                                <h5 class="text-muted m-b-0">&nbsp;Pend&ecirc;ncias Anteriores</h5></div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- Column -->
	                            <!-- Column -->
	                            <div class="col-lg-3 col-md-3">
	                                <div class="card">
	                                    <div class="card-body">
	                                        <div class="d-flex flex-row">
	                                            <div class="round round-lg align-self-center round-success">
	                                            	<i class="mdi mdi-bank" style="width: 30px; height: 30px; line-height: 0px;"></i>
	                                            </div>
	                                            <div class="m-l-10 align-self-center">
	                                                <h3 class="m-b-0 font-lgiht" id="totalPay"></h3>
	                                                <h5 class="text-muted m-b-0">&nbsp;Total Pago</h5></div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- Column -->
	                            <div class="col-lg-3 col-md-3">
	                                <div class="card">
	                                    <div class="card-body">
	                                        <div class="d-flex flex-row">
	                                            <div class="round round-lg align-self-center round-warning">
	                                            	<i class="mdi mdi-coin" style="width: 30px; height: 30px; line-height: 0px;"></i>
	                                            </div>
	                                            <div class="m-l-10 align-self-center">
	                                                <h3 class="m-b-0 font-lgiht" id="totalPendingAfter"></h3>
	                                                <h5 class="text-muted m-b-0">&nbsp;Pend&ecirc;ncia Atual</h5></div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- Column -->
	                        </div>
	                        <div class="col-12">
	                            <div id="report-table" class="table-responsive">
	                               
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</th:block>
</html>